{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": "3.22",
        "targets": {
          "browsers": [
            "last 1 chrome version",
            "last 1 firefox version"
          ]
        }
      }
    ]
  ]
}
