.alert {
    padding:20px;background-color:#f44336;color:white;
}

.close-btn {
    margin-left:15px;color:white;font-weight:bold;float:right;font-size:22px;line-height:20px;cursor:pointer;transition:0.3s;
}

.close-btn:hover {
    color:black;
}
